// Variables
root-font-size = 10px
root-font-family = "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, "MS PGothic", Arial, Helvetica, sans-serif
root-background-color = #333
root-color = #fff
anchor-text-decoration = underline
selection-color = #fff

// Import sanitize.css
@import "../../../node_modules/sanitize.css/lib/sanitize.styl"
