<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="<%= htmlWebpackPlugin.options.base %>">
  </head>
  <body><app></app></body>
</html>
